body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: auto;
}

html, body, #mymap {
    width: 100%;
    height: 100vh;
}

button.ui.red.button.floatingbutton {
    position:fixed;
    bottom:20px;
    right:20px;
    z-index:1000;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
}
